/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2023, 9:56:18 AM
    Author     : joe7n
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}





body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
    background-size: cover;
    background-position: center;
    
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: darksalmon;
}


/* Header */

header{
    position: relative;
    padding: 0 2rem;
    
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#flaglogo{
    width: 100%;
    height: 40px;
    max-width: 800px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo a{
    font-size:1.5rem;
    font-weight: bold;
}
/*.navbar .logo li{
    font-size:4px;
    font-weight: bold;
    
}*/

.navbar .links {
    display:flex;
    gap: 2rem;

}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: darksalmon;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease 0.2s;
}

.action_btn:hover{
    scale: 1.05;
/*    scale: 1.05;*/
    color: #fff;
}


.action_btn:active{
    scale:0.95;
}

/*Dropdown MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*SLIDESHOW*/
.slideshow{
    margin: 0 auto;
    padding-top: 50px;
    height: 800px;
/*    background: skyblue;*/
    box-sizing: border-box;
}

.content{
    margin: auto;
    width: 190px;

    position: relative;
    padding-top: 80px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation:rotar 15s infinite linear;
    transform-style:preserve-3d;
    margin-bottom: 1px;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor:pointer;

}
.content-carrousel figure{
    width: 100%;
    height: 120px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(300px);
}

.shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 2px;
}

.content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar{
    from{
        transform:rotateY(0deg);
    } to{
        transform:rotateY(360deg);
    }
}
/*HERO*/
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
section#hero h1{
    font-size:50px;
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: tomato;
    padding-bottom: 170px;
    
}


/*RESPONSIVE DESIGN */
@media (max-width: 992px)
{
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    
    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }
}


@media (max-width: 576px)
{
    .dropdown_menu {
        left: 2rem;
        width:inherit;
     
    }
}