<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="/security/roles" class="btn btn-primary">Manage Roles</a>
        </div>
        <div class="col text-center">
            <a href="/staffs" class="btn btn-success">STAFF</a>
        </div>
        <div class="col text-center">
            <a href="/customers" class="btn btn-primary">Customers</a>
        </div>
    </div>
</div>
