<!DOCTYPE html>
<html>
<head>
  <title>New User</title>
  <a href="/index" class="btn btn-primary">HOME</a>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>New User</h1>

  <form method="post" th:object="${registration}" action="/register">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" th:field="${registration.name}" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" th:field="${registration.email}" required>
    </div>

    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="text" class="form-control" id="phone_number" th:field="${registration.phoneNumber}" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <div class="input-group">
        <input type="password" class="form-control" id="password" name="password" th:field="${registration.password}" required>
        <div class="input-group-append">
            <span class="input-group-text">
                <i id="togglePassword" class="fas fa-eye-slash"></i>
            </span>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
    <a th:href="@{/login}">If you already have an account, please log in</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#togglePassword").click(function() {
      var passwordInput = $("#password");
      var icon = $(this);

      if (passwordInput.attr("type") === "password") {
        passwordInput.attr("type", "text");
        icon.removeClass("fa-eye-slash").addClass("fa-eye");
      } else {
        passwordInput.attr("type", "password");
        icon.removeClass("fa-eye").addClass("fa-eye-slash");
      }
    });
  });
</script>

<!-- Optional Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-rV7i+TN1n0V7nZzQCtfMhz9TqtzLmrsQ7erW8ssvE1fIroOxjK2cYiZ0YzXeO/BG" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
